$mat-dialog-background-color: var(--mat-dialog-background-color, #fff);
$mat-dialog-horizontal-margin: var(--mat-dialog-horizontal-margin, 15px);

$mat-dialog-horizontal-padding: var(--mat-dialog-horizontal-padding, 20px);
$mat-dialog-vertical-padding: var(--mat-dialog-vertical-padding, 15px);

$mat-dialog-color: var(--mat-dialog-color, #000000de);
$mat-dialog-max-width: var(--mat-dialog-max-width, 700px);
