@use '~@lirx/dom-material/src/themes/mat.theme.dark' as math-theme-dark;

* {
  &,
  &::before,
  &::after {
    box-sizing: border-box;
    outline: none;
  }
}

html,
body {
  border: 0;
  margin: 0;
  padding: 0;

  width: 100%;
  height: 100%;

  position: fixed;
  top: 0;
  right: 0;
  overflow: hidden;
  //font-size: 0;
  font-family: Hevetica, Arial, sans-serif;
}

body {
  overflow: auto;

  //&.theme--dark {
  //  @include math-theme-dark.mat-theme--dark;
  //
  //  background-color: #222;
  //}
}

table, caption, tbody, tfoot, thead, tr, th, td {
  margin: 0;
  padding: 0;
  border: 0;
  vertical-align: middle;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}
