@import 'mat-dialog-title.variables';

/** STYLE **/

:host {
  display: block;
  font-weight: $mat-dialog-title-font-weight;
  font-size: $mat-dialog-title-font-size;
  font-family: $mat-dialog-title-font-family;
  color: $mat-dialog-title-color;
}
