@import '../../../../../../styles/mat.variables';

$mat-overlay-box-vertical-padding: var(--mat-overlay-box-vertica-padding, 7px);
$mat-overlay-box-horizontal-padding: var(--mat-overlay-box-horizontal-padding, 10px);

$mat-overlay-box-background-color: var(--mat-overlay-box-background-color, #fff);

