@import 'mat-tooltip.variables';

/** STYLE **/

:host {
  display: block;
  position: absolute;
  inset: 0;
  pointer-events: none;
  font-size: 0;

  & > mat-overlay-box-sticky {
    pointer-events: none;
    color: #{$mat-tooltip-color};
    font-family: #{$mat-tooltip-font-family};
    font-size: #{$mat-tooltip-font-size};
  }
}
