<!--#ref="$.setFilesContainerElement"-->
<div
  class="files-container"
  (keydown)="$.onKeyDownFilesContainer"
  (pointerdown)="$.onPointerDownFilesContainer"
  tabIndex="0"
>
  <div class="files-list">

    <div class="header-row">
      <div class="preview"></div>
      <div class="name">
        Name
      </div>
      <div class="size">
        Size
      </div>
      <div class="modified-date">
        Modified
      </div>
    </div>

    <div class="header-row-shadow"></div>

<!--    #ref="(node) => $.setFileElement(node, file, index$)"-->
    <div
      class="file"
      *for="let file of $.files$; index$ as index$"
      #ref="(node) => $.setFileElement(file, node.elementNode)"
      [class.selected]="$.isFileSelected$$(file)"
      draggable="true"
    >
      <div class="preview">
        <div
          class="preview-container"
          [style.background-image]="`url(${file.previewURL})`"
        ></div>
      </div>
      <div class="name">
        <div class="name-container">
          {{ file.name }}
        </div>
      </div>
      <div class="size">
        {{ file.size }}
      </div>
      <div class="modified-date">
        {{ file.modified }}
      </div>
    </div>
  </div>
</div>

<div class="pointer-select-area"></div>
