<table>
  <tbody>
    <tr>
      <td>

      </td>
      <td class="mat-button-color">
        Primary
      </td>
      <td class="mat-button-color">
        Secondary
      </td>
    </tr>

    <tr class="group-row">
      <td colspan="3">
        Button
      </td>
    </tr>

    <tr>
      <td class="mat-button-type">
        Basic
      </td>
      <td>
        <button #mat-basic-button-primary>
          MatBasicButtonPrimary
        </button>
      </td>
      <td>
        <button #mat-basic-button-secondary>
          MatBasicButtonSecondary
        </button>
      </td>
    </tr>

    <tr>
      <td class="mat-button-type">
        Flat
      </td>
      <td>
        <button #mat-flat-button-primary>
          MatFlatButtonPrimary
        </button>
      </td>
      <td>
        <button #mat-flat-button-secondary>
          MatFlatButtonSecondary
        </button>
      </td>
    </tr>

    <tr>
      <td class="mat-button-type">
        Stroked
      </td>
      <td>
        <button #mat-stroked-button-primary>
          MatStrokedButtonPrimary
        </button>
      </td>
      <td>
        <button #mat-stroked-button-secondary>
          MatStrokedButtonSecondary
        </button>
      </td>
    </tr>

    <tr class="group-row">
      <td colspan="3">
        Icon
      </td>
    </tr>

    <tr>
      <td class="mat-button-type">
        Basic
      </td>
      <td>
        <button #mat-icon-button #mat-basic-button-primary>
          <icon-home/>
        </button>
      </td>
      <td>
        <button #mat-icon-button #mat-basic-button-secondary>
          <icon-home/>
        </button>
      </td>
    </tr>

    <tr>
      <td class="mat-button-type">
        Flat
      </td>
      <td>
        <button #mat-icon-button #mat-flat-button-primary>
          <icon-home/>
        </button>
      </td>
      <td>
        <button #mat-icon-button #mat-flat-button-secondary>
          <icon-home/>
        </button>
      </td>
    </tr>

    <tr>
      <td class="mat-button-type">
        Stroked
      </td>
      <td>
        <button #mat-icon-button #mat-stroked-button-primary>
          <icon-home/>
        </button>
      </td>
      <td>
        <button #mat-icon-button #mat-stroked-button-secondary>
          <icon-home/>
        </button>
      </td>
    </tr>
  </tbody>
</table>
