@import './mat-dialog-header.variables';

/** STYLE **/

:host {
  display: flex;
  flex-wrap: wrap;
  //justify-content: space-between;
  align-items: center;
  padding: $mat-dialog-header-padding-y $mat-dialog-header-padding-x;
}
