@import 'mat-menu-item-text.variables';


/** STYLE **/

:host {
  display: inline-block;
  flex-grow: 1;

  min-width: 0;
  overflow: hidden;
  text-overflow: ellipsis;

  color: #{$mat-menu-item-text-color};
  font-family: #{$mat-menu-item-text-font-family};
  font-size: #{$mat-menu-item-text-font-size};
}
