@import '../../../../../../../../styles/mat.variables';
@import '../menu-item/mat-menu-item.variables';

$mat-menu-item-text-color: var(--mat-menu-item-text-color, $mat-menu-item-color);
$mat-menu-item-text-font-family: var(--mat-menu-item-text-font-family, $mat-menu-item-font-family);
$mat-menu-item-text-font-size: var(--mat-menu-item-text-font-size, $mat-menu-item-font-size);

