<div class="button-container previous-button">
  <mat-icon-button>
    <icon-arrow-left></icon-arrow-left>
  </mat-icon-button>
</div>


<div class="button-container next-button">
  <mat-icon-button>
    <icon-arrow-right></icon-arrow-right>
  </mat-icon-button>
</div>

<app-url-navigation-bar
  class="navigation-bar"
></app-url-navigation-bar>

<div class="button-container search-button">
  <mat-icon-button>
    <icon-magnify></icon-magnify>
  </mat-icon-button>
</div>

<div class="button-container list-view-button">
  <mat-icon-button>
    <icon-format-list-bulleted-square></icon-format-list-bulleted-square>
    <icon-view-grid></icon-view-grid>
  </mat-icon-button>
</div>

<div class="button-container more-options-button">
  <mat-icon-button>
    <icon-dots-vertical></icon-dots-vertical>
  </mat-icon-button>
</div>

